#logo {
 margin:0 565px;

}
 
.box1 {
      
    background-color:#EEEEEE ;
}

.box2 {
    background-color: #7EE5DA;
    padding: 0 27px;
}

.box3 {
    background-color: #70CCC2;
}

.box4 {
    background-color: #62B3AA;
    
}